body {
    font-family: "Roboto", serif;
}


header {
    background-color: #000000;
    font-family: "Anton", serif;
}

.font {
    font-family: "Anton", serif;
}

.nav-link{
    color: white;
}

header .logo img {
    height: 80px;    
}

.navbar-toggler {
    background-color: white;
}

#cabecalho .nav .nav-link:hover{
    color: white;
}

#cabecalho .nav .nav-link.active,
#jogos .nav .nav-link.active {
    background-color: rgb(239, 44, 44);
    color: white;
}

.text-colored,
#jogos .nav .nav-link {
    color: rgb(239, 44, 44);
}

#noticias,
#jogos .card-body,
#contato {
    background-color: #cbd5e1;
}

#noticias img{
    height: auto;
    width: 100%;
}

#mensagem {
    resize: none;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a,
footer a {
    text-decoration: none;
}

footer {
    background-color: #000000;
}

footer a {
    color: white;
}

.error {
    color: red;
}

